DictionaryBenchmarks/bin
DictionaryBenchmarks/obj
HashSetBenchmarks/bin
HashSetBenchmarks/obj
LinkedListBenchmarks/bin
LinkedListBenchmarks/obj
ListBenchmarks/bin
ListBenchmarks/obj
StrategyPatternBenchmark/bin
StrategyPatternBenchmark/obj
AdapterPatternBenchmark/bin
AdapterPatternBenchmark/obj
FacadePatternBenchmark/bin
FacadePatternBenchmark/obj
ObserverPatternBenchmark/bin
ObserverPatternBenchmark/obj
.vs

.fake
.ionide
/.vs
/.ionide